<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>oneBillon</title>
	<link rel="stylesheet" href="../static/reset.css">
	<link rel="stylesheet" href="../static/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	{#fontawesome#}
	<script src="https://kit.fontawesome.com/3e498796cb.js" crossorigin="anonymous"></script>
</head>
<body>


<div class="wrap">
	<section class="header">
		<h1 class="title">oneBillon</h1>
		<span class="team_name">react A반 1조(배민수,성태영,최지원,송지현,김도훈)</span>
	</section>
	<section class="intro">
		<div class="container">
			<h2 class="maintitle">팀소개</h2>
			<p class="txt">
				저희는 A반 1조 onebillion 입니다. 1조라 발표가 빨라 부담되지만.. 그래도 잘 해낼것 입니다!!<br>
				저희 조는 각자 역할을 맡아 프로젝트를 제작 하였고, 서로 모르면 물어보고 알려주며 이 프로젝트를 완성시켰습니다.
				<br>비록 첫 프로젝트지만 멋드러지게 완성해서 다른 조의 부러움을 사고 싶습니다 ㅎㅎ
			</p>
			<div class="introWrap">
				<div class="boxes">
					<div class="box">
						<span class="sub_title">우리팀 스타일</span>
						<p>각자 정해진 역할을 수행하기 위해 밤 늦게까지 노력합니다!<br> 서로를 힘내자며 화이팅도 합니다!</p>
					</div>
					<div class="box">
						<span class="sub_title">우리팀 약속</span>
						<p>시간약속은 지키자!</p>
						<p>안되도 도전은 해보자!</p>
						<p>서로에게 친절하자</p>
					</div>
				</div>
				<div class="icon">
					<img src="http://bizfocus.kr/news/data/20200917/p1065589653063656_140_thum.jpg">
				</div>
			</div>
		</div>
	</section>
	<section class="members">
		<div class="container ">
			<h2 class="maintitle">팀원 소개</h2>

{#			데이터 추가 방지#}
{#			<div class="inputwrap">#}
{#				<div>#}
{#					<input id="teamName" type="text" placeholder="이름작성"/>#}
{#					<p><textarea id="teamIntro">자기소개 작성 60자이내</textarea></p>#}
{#					<p><input type="text" id="teamPhoto" placeholder="인터넷사진으로 부탁드려요"></p>#}
{#					<button onclick="save_teams()">등록!</button>#}
{#				</div>#}
{#			</div>#}

			<div class="team" id="team">
			</div>
		</div>

	</section>
	<section class="modalLayer"></section>
	<div class="modalWrap modal1">
			<div class="modalCon">
				<div class="modalimg"><img
					src="https://ca.slack-edge.com/T043597JK8V-U0464V4DQKY-0a92e92ba44b-512" alt="배민수">
				</div>
				<div class="desc">
					<p><span>이름</span> 배민수</p>
					<p><span>MBTI</span> ENFP</p>
					<p><span>취미</span> 배드민턴🏸</p>
					<p><span><i class="fa-brands fa-square-instagram"> ,</i><i class="fa-solid fa-v"></i></span><a href="https://www.instagram.com/__bae_min__/" target="_blank">bae_min</a>&#128274; <a href="https://velog.io/@qoalstn44" target="_blank">velog.io</a></p>
					<p>
						<span>프로젝트 맡은 역활</span>

					<p class="block">지금 보이시는 웹페이지를 꾸미고 작성했습니다!</p>
					</p>
				</div>
			</div>
			<div class="selfIntro">
				<h3>자기소개</h3>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>d앞으로 잘부탁드렵용</p>
			</div>
			<div class="modalbottom">
				<a class="blogbtn" href="https://velog.io/@qoalstn44" target="_blank">개인블로그 가기</a>
				<span class="cancel" onclick="cancel()">닫기</span>
			</div>
		</div>

	<!--	성태영 수정한 부분입니다-->
	<div class="modalWrap modal2">
		<div class="modalCon">
			<div class="modalimg"><img
				src="https://ca.slack-edge.com/T043597JK8V-U045ZFR4ZRQ-0ba42aa09caa-512" alt="성태영">
			</div>
			<div class="desc">
				<p><span>이름</span> 성태영</p>
				<p><span>MBTI</span> ISFP, ISFJ</p>
				<p><span>취미</span> 추리드라마 보기, 강아지 산책</p>
				<p>
					<span>프로젝트 맡은 역할</span>
					<p class="block">와이어프레임 마크업, 좋아요기능 제작, 팝업추가</p>
				</p>
			</div>
		</div>
		<div class="selfIntro">
			<h3>자기소개</h3>
			<p>저는 누워서 추리드라마 시청을 좋아합니다. 강아지들과 산책하기를 즐겨해요</p>
			<p>여행을 좋아하는데 계획 없는 여행도 좋아합니다</p>
			<p>하지만 일을 계획해서 하기를 좋아해요</p>
			<p>저와 친해지시면 강아지사진 많이 보실수 있으세요~ </p>
		</div>
		<div class="modalbottom">
			<a class="blogbtn" href="https://velog.io/@young0_0" target="_blank">개인블로그 가기</a>
			<span class="cancel" onclick="cancel()">닫기</span>
		</div>
	</div>
	<!--	성태영 수정-->

	<div class="modalWrap modal3">
		<div class="modalCon">
			<div class="modalimg"><img
				src="https://ca.slack-edge.com/T043597JK8V-U0445EEUZ44-c3a783a7afe2-512" alt="김도훈">
			</div>
			<div class="desc">
				<p><span>이름</span> 김도훈</p>
				<p><span>MBTI</span> ESTJ</p>
				<p><span>취미</span> 사진찍기, 기타치기</p>
				<p>
					<span>프로젝트 맡은 역할</span>
					<p class="block"> 아이콘 효과및 localstorage 저장 기능을 담당했습니다.</p>
				</p>
			</div>
		</div>
		<div class="selfIntro">
			<h3>자기소개</h3>
			<p>조금 늦게 개발공부를 시작했지만 열정만큼은 뒤지지 않습니다. </p>
			<p>남한테 피해가 가지 않도록 열심히 하도록 하겠습니다.</p>

		</div>
		<div class="modalbottom">
			<a class="blogbtn" href="https://velog.io/@syncstar" target="_blank">개인블로그 가기</a>
			<span class="cancel" onclick="cancel()">닫기</span>
		</div>
	</div>
	<div class="modalWrap modal4">
		<div class="modalCon">
			<div class="modalimg"><img
				src="https://ca.slack-edge.com/T043597JK8V-U044XUBEG01-58b10b88768d-512" alt="최지원">
			</div>
			<div class="desc">
				<p><span>이름</span> 최지원</p>
				<p><span>MBTI</span> ISTP</p>
				<p><span>취미</span> 운동</p>
				<p>
					<span>프로젝트 맡은 역할</span>
				<p class="block">nav 바 , dark 모드 적용</p>
				</p>
			</div>
		</div>
		<div class="selfIntro">
			<h3>자기소개</h3>
			<p>안녕하세요 반갑습니다</p>
			<p>많이 부족하지만 최대한 열심히 해보겠습니다</p>
			<p>앞으로 잘 부탁드립니다!</p>
		</div>
		<div class="modalbottom">
			<a class="blogbtn" href="https://velog.io/@jiwonchoii
" target="_blank">개인블로그 가기</a>
			<span class="cancel" onclick="cancel()">닫기</span>
		</div>
	</div>
	<div class="modalWrap modal5">
		<div class="modalCon">
			<div class="modalimg"><img
				src="https://github.com/qoalstn44/MINIproject/blob/master/%EC%82%AC%EC%A7%84/songjihyun.jpg?raw=true" alt="송지현">
			</div>
			<div class="desc">
				<p><span>이름</span> 송지현</p>
				<p><span>MBTI</span> ISTP</p>
				<p><span>취미</span> 노래 듣기, 미드 시청</p>
				<p>
					<span>프로젝트 맡은 역할</span>
				<p class="block">방명록 부분을 작성했습니다.</p>
				</p>
			</div>
		</div>
		<div class="selfIntro">
			<h3>자기소개</h3>
			<p>안녕하세요. 잘 부탁드립니다. </p>
			<p>프로젝트에서 맡은 역할을 해낼 수 있도록 노력하겠습니다. </p>
			<p>최근에는 프렌즈, 빅뱅 이론, 내가 그녀를 만났을 때 같은 고전 미드를 보고 있습니다.</p>
		</div>
		<div class="modalbottom">
			<a class="blogbtn" href="#" target="_blank">개인블로그 가기</a>
			<span class="cancel" onclick="cancel()">닫기</span>
		</div>
	</div>
	<section class="comment">
		<div class="container">
			<h2 class="maintitle">우리팀을 응원해주세요!</h2>
			<div class="inputBox">
				<input type="text" placeholder="우리팀을 응원해주세요">
				<button class="cmBtn btn">댓글등록</button>
			</div>
			<div class="boardWrap">
				<div class="board">
					<p>완벽해염~</p><span>성태영</span>
				</div>
				<div class="board">
					<p>완벽해염~</p><span>성태영</span>
				</div>
				<div class="board">
					<p>완벽해염~</p><span>성태영</span>
				</div>
			</div>
		</div>
	</section>

</div>

<script>
    $(document).ready(function () {
        show_teams();
    });

    {#모달팝업 시작#}

    function openModal(modalname) {
        document.get
        $('.modalLayer').fadeIn(300)
        $("." + modalname).fadeIn(300);
    }

    function cancel() {
        $('.modalLayer').fadeOut(300)
        $(".modalWrap").fadeOut(300);
    }

    {#팀원리스트추가 post#}

    function save_teams() {
        let teamName = $('#teamName').val()
        let teamIntro = $('#teamIntro').val()
        let teamPhoto = $('#teamPhoto').val()

        $.ajax({
            type: "POST",
            url: "/team",
            data: {teams_give: teamName, intro_give: teamIntro, photo_give: teamPhoto},
            success: function (response) {
                alert(response["msg"])
                window.location.reload()
            }
        });
    }

    {#추가된팀원 리스트 get#}

    function show_teams() {
        $.ajax({
            type: "GET",
            url: "/team",
            data: {},
            success: function (response) {
                let rows = response['teams']
                for (let i = 0; i < rows.length; i++) {
                    let name = rows[i]['teams']
                    let intro = rows[i]['intro']
                    let like = rows[i]['like']
                    let num = rows[i]['num']
                    let photo = rows[i]['photo']

                    let temp_html = ``
                    if (num === 1 && like === 0) {
                        temp_html = `<div class="item">
													<div class="img" style="background-image: url('${photo}')">
														<div class="rank">팀장</div>
													</div>
													<div class="textWrap">
														<div class="name">
															<div>
																<span class="sub_title">이름</span>${name}
															</div>
															<div>
																<a class="like" onclick=likeStar(${num})><span class="heart heart_one"><i class="fas fa-heart"></i></span></a>
																<span>${like}</span>
															</div>
														</div>
														<p class="txt">${intro}</p>
													</div>
													<a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
												</div>`
                    } else if (num === 1 && like > 1) {
                        temp_html = `<div class="item">
													<div class="img" style="background-image: url('${photo}')">
														<div class="rank">팀장</div>
													</div>
													<div class="textWrap">
														<div class="name">
															<p>
																<span class="sub_title">이름</span>${name}
															</p>
															<div>
																<a class="like" onclick=likeStar(${num})><span class="heart "><i class="fas fa-heart"></i></span></a>
																<span>${like}</span>
															</div>
														</div>
														<p class="txt">${intro}</p>
													</div>
													<a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
												</div>`
                    } else if (like >= 1) {
                        temp_html = `<div class="item">
													<div class="img" style="background-image: url('${photo}')">
														<div class="rank rank2">팀원</div>
													</div>
													<div class="textWrap">
														<div class="name">
															<p>
																<span class="sub_title">이름</span>${name}
															</p>
															<div>
																<a class="like" onclick=likeStar(${num})><span class="heart "><i class="fas fa-heart"></i></span></a>
																<span>${like}</span>
															</div>
														</div>
														<p class="txt">${intro}</p>
													</div>
													<a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
												</div>`
                    } else {
                        temp_html = `<div class="item">
													<div class="img" style="background-image: url('${photo}')">
														<div class="rank rank2">팀원</div>
													</div>
													<div class="textWrap">
														<div class="name">
															<p>
																<span class="sub_title">이름</span>${name}
															</p>

															<div>
																<a class="like" onclick=likeStar(${num})><span class="heart heart_one"><i class="fas fa-heart"></i></span></a>
																<span>${like}</span>
															</div>
														</div>
														<p class="txt">${intro}</p>
													</div>
													<a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
												</div>`
                    }
                    $('#team').append(temp_html)
                }
            }
        });
    }

    {#좋아요 수 늘리기 post#}

    function likeStar(num) {
        $.ajax({
            type: 'POST',
            url: '/api/like',
            data: {num_give: num},
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
</script>
</body>
</html>