<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>oneBillon</title>
	<link rel="stylesheet" href="../static/reset.css">
	<link rel="stylesheet" href="../static/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
	<section class="header">
		<h1 class="title">oneBillon</h1>
		<span class="team_name">react A반 1조(배민수,성태영,최지원,송지현,김도훈)</span>
	</section>
	<section class="intro">
		<div class="container">
			<h2 class="maintitle">팀소개</h2>
			<p class="txt">저희는 A반 1조 onebillion 입니다.엄청나게 일찍발표하게 되어 정말이지부담스럽님만 이나ㅓㄹ이나러ㅣ나러니ㅏ러니ㅏㄹ어니아러니아러니ㅏㅇ러니아러닐어</p>
			<div class="introWrap">
				<div class="boxes">
					<div class="box">
						<span class="sub_title">우리팀 소개</span>
						<p>러니라ㅓㄴㅇ라ㅓ니러니</p>
					</div>
					<div class="box">
						<span class="sub_title">우리팀 스타일</span>
						<p>러니라ㅓㄴㅇ라ㅓ니러니</p>
					</div>
					<div class="box">
						<span class="sub_title">우리팀은 이래요.</span>
						<p>러니라ㅓㄴㅇ라ㅓ니러니</p>
					</div>
					<div class="box">
						<span class="sub_title">우리팀 약속</span>
						<p>러니라ㅓㄴㅇ라ㅓ니러니</p>
					</div>
				</div>
				<div class="icon">
					<img src="http://bizfocus.kr/news/data/20200917/p1065589653063656_140_thum.jpg">
				</div>
			</div>
		</div>
	</section>
	<section class="members">
		<div class="container ">
			<h2 class="maintitle">팀원 소개</h2>
			<div class="team">
				<div class="item">
					<div class="img">
						<div class="rank">팀장</div>
					</div>
					<div class="textWrap">
						<p class="name"><span class="sub_title">이름</span>최지원</p>
						<p class="txt">자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개</p>
					</div>
					<a class="btn" href="javascript:openModal('modal1')">더보기+</a>
				</div>
				<div class="item">
					<div class="img">
						<div class="rank rank2">팀원</div>
					</div>
					<div class="textWrap">
						<p class="name"><span class="sub_title">이름</span>최지원</p>
						<p class="txt">자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개</p>
					</div>
					<a class="btn" href="javascript:openModal('modal2')">더보기+</a>
				</div>
				<div class="item">
					<div class="img">
						<div class="rank rank2">팀원</div>
					</div>

					<div class="textWrap">
						<p class="name"><span class="sub_title">이름</span>최지원</p>
						<p class="txt">자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개</p>
					</div>
					<a class="btn" href="javascript:openModal('modal3')">더보기+</a>
				</div>
			</div>
			<div class="team">
				<div class="item">
					<div class="img">
						<div class="rank rank2">팀원</div>
					</div>
					<div class="textWrap">
						<p class="name"><span class="sub_title">이름</span>최지원</p>
						<p class="txt">자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개</p>
					</div>
					<a class="btn" href="javascript:openModal('modal4')">더보기+</a>
				</div>
				<div class="item">
					<div class="img">
						<div class="rank rank2">팀원</div>
					</div>
					<div class="textWrap">
						<p class="name"><span class="sub_title">이름</span>최지원</p>
						<p class="txt">자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개자기소개</p>
					</div>
					<a class="btn" href="javascript:openModal('modal5')">더보기+</a>
				</div>
			</div>
		</div>
	</section>
	<section class="modalLayer"></section>
	<div class="modalWrap modal1">
			<div class="modalCon">
				<div class="modalimg"><img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Golde33443.jpg/560px-Golde33443.jpg" alt="강아지">
				</div>
				<div class="desc">
					<p><span>이름</span>배민수</p>
					<p><span>MBTI</span>ㅇ랑ㄹㅇ</p>
					<p><span>취미</span>ㅇㅇ</p>
					<p>
						<span>일 스타일</span>
					<p class="block">rkdsdkfjlsdfslkfdjlsdkjflsfdjlsj</p>
					</p>
				</div>
			</div>
			<div class="selfIntro">
				<h3>자기소개</h3>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>d앞으로 잘부탁드렵용</p>
			</div>
			<div class="modalbottom">
				<a class="blogbtn" herf="#" target="_blank">개인블로그 가기</a>
				<span class="cancel" onclick="cancel()">닫기</span>
			</div>
		</div>
	<div class="modalWrap modal2">
			<div class="modalCon">
				<div class="modalimg"><img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Golde33443.jpg/560px-Golde33443.jpg" alt="강아지">
				</div>
				<div class="desc">
					<p><span>이름</span> 성태영</p>
					<p><span>MBTI</span>ㅇ랑ㄹㅇ</p>
					<p><span>취미</span>ㅇㅇ</p>
					<p>
						<span>일 스타일</span>
					<p class="block">rkdsdkfjlsdfslkfdjlsdkjflsfdjlsj</p>
					</p>
				</div>
			</div>
			<div class="selfIntro">
				<h3>자기소개</h3>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>d앞으로 잘부탁드렵용</p>
			</div>
			<div class="modalbottom">
				<a class="blogbtn" herf="#" target="_blank">개인블로그 가기</a>
				<span class="cancel" onclick="cancel()">닫기</span>
			</div>
		</div>
	<div class="modalWrap modal3">
			<div class="modalCon">
				<div class="modalimg"><img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Golde33443.jpg/560px-Golde33443.jpg" alt="강아지">
				</div>
				<div class="desc">
					<p><span>이름</span>최지원</p>
					<p><span>MBTI</span>ㅇ랑ㄹㅇ</p>
					<p><span>취미</span>ㅇㅇ</p>
					<p>
						<span>일 스타일</span>
					<p class="block">rkdsdkfjlsdfslkfdjlsdkjflsfdjlsj</p>
					</p>
				</div>
			</div>
			<div class="selfIntro">
				<h3>자기소개</h3>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>d앞으로 잘부탁드렵용</p>
			</div>
			<div class="modalbottom">
				<a class="blogbtn" herf="#" target="_blank">개인블로그 가기</a>
				<span class="cancel" onclick="cancel()">닫기</span>
			</div>
		</div>
	<div class="modalWrap modal4">
			<div class="modalCon">
				<div class="modalimg"><img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Golde33443.jpg/560px-Golde33443.jpg" alt="강아지">
				</div>
				<div class="desc">
					<p><span>이름</span>김도훈</p>
					<p><span>MBTI</span>ㅇ랑ㄹㅇ</p>
					<p><span>취미</span>ㅇㅇ</p>
					<p>
						<span>일 스타일</span>
					<p class="block">rkdsdkfjlsdfslkfdjlsdkjflsfdjlsj</p>
					</p>
				</div>
			</div>
			<div class="selfIntro">
				<h3>자기소개</h3>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>d앞으로 잘부탁드렵용</p>
			</div>
			<div class="modalbottom">
				<a class="blogbtn" herf="#" target="_blank">개인블로그 가기</a>
				<span class="cancel" onclick="cancel()">닫기</span>
			</div>
		</div>
	<div class="modalWrap modal5">
			<div class="modalCon">
				<div class="modalimg"><img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Golde33443.jpg/560px-Golde33443.jpg" alt="강아지">
				</div>
				<div class="desc">
					<p><span>이름</span>송지현</p>
					<p><span>MBTI</span>ㅇ랑ㄹㅇ</p>
					<p><span>취미</span>ㅇㅇ</p>
					<p>
						<span>일 스타일</span>
					<p class="block">rkdsdkfjlsdfslkfdjlsdkjflsfdjlsj</p>
					</p>
				</div>
			</div>
			<div class="selfIntro">
				<h3>자기소개</h3>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
				<p>d앞으로 잘부탁드렵용</p>
			</div>
			<div class="modalbottom">
				<a class="blogbtn" herf="#" target="_blank">개인블로그 가기</a>
				<span class="cancel" onclick="cancel()">닫기</span>
			</div>
		</div>
     <section class="comment">
        <div class="container">
          <h2 class="maintitle">우리 팀을 응원해주세요!</h2>
          <div class="inputBox">
			  <div>
				  <input type="text" name="" id="commentName" placeholder="이름">
				  <input type="password" name="" id="commentPw" placeholder="비밀번호">
			  </div>
            <input
              type="text"
              class="addComment"
              placeholder="우리 팀을 응원해주세요"
			  id="addCommentIpt"
            /><button onclick="save_comment()" class="cmBtn btn">댓글 등록</button>
          </div>
          <ul class="boardWrap">
          </ul>
			<input type="button" class="moreComment btn" value="더보기">
        </div>
      </section>
</div>

<script>
	$(document).ready(() => {
		show_comment();
	})

	function openModal(modalname) {
		document.get
		$('.modalLayer').fadeIn(300)
		$("." + modalname).fadeIn(300);
	}

	function cancel() {
		$('.modalLayer').fadeOut(300)
		$(".modalWrap").fadeOut(300);
	}

	function save_comment() {
		let comment = $('#addCommentIpt').val();
		let nickname = $('#commentName').val();
		let password = $('#commentPw').val();

		let date = new Date();
		let year = date.getFullYear();
		let month = String(date.getMonth() + 1).padStart(2, '0');
		let day = String(date.getDate()).padStart(2, '0');
		let hour = String(date.getHours()).padStart(2, '0');
		let minute = String(date.getMinutes()).padStart(2, '0');
		let second = String(date.getSeconds()).padStart(2, '0');

		let commentTime = `${year}/${month}/${day} ${hour}:${minute}:${second}`
		if(comment !== "" && nickname !== "" && password !== "") {
			$.ajax({
				type: "POST",
				url: "/onebillion",
				data: {
					comment_give:comment,
					nickname_give:nickname,
					password_give:password,
					time_give:commentTime
				},
				success: function(response) {
					alert(response['msg'])
					window.location.reload();
				}
			})
		} else {
			alert('빈 칸이 존재합니다!')
		}
	}
/* 송지현 작성
	function show_comment() {
		$.ajax({
			type: "GET",
			url: '/onebillion',
			data: {},
			success: function(res) {
				let rows = res['comments'].reverse(); // 입력 역순으로 보여주기
				let maxComment = 5; // 최대 5개씩 보여주기
				let cmtLoadBtn = document.querySelector('.moreComment');

				if(rows.length < maxComment + 1) {
					cmtLoadBtn.style.display ='none'
				} else {
					cmtLoadBtn.style.display ='block'
				} // 더보기 버튼 표시

				for(let i = 0; i < maxComment; i++) {
					if(rows[i] !== undefined) {
						let comment = rows[i]['comment'];
						let nickname = rows[i]['nickname'];
						let time = rows[i]['time']

						let temp_html = `<li class="board">
											<div class="boardInfo">
												<div class="boardComment">${comment}</div>
												<div class="commenterName">${nickname}</div>
												<span class="commentDate">${time}</span>
											</div>
										</li>`
							$('.boardWrap').append(temp_html)
					}
				} // 초기 데이터 5개 이하로 출력

				let cnt = 1; // 더보기 클릭 횟수
				cmtLoadBtn.addEventListener('click', ()=>{
					cnt++;
					if(rows.length / maxComment < cnt) {
						cmtLoadBtn.style.display = "none";
					} // 모든 방명록 다 띄웠을때

				for (let i = maxComment * (cnt - 1); i < maxComment * cnt; i++) {
					if(rows[i] !== undefined) {
						let comment = rows[i]['comment'];
						let nickname = rows[i]['nickname'];
						let time = rows[i]['time'];

						let temp_html = `<li class="board">
											<div class="boardInfo">
												<div class="boardComment">${comment}</div>
												<div class="commenterName">${nickname}</div>
												<span class="commentDate">${time}</span>
											</div>
										</li>`

							$('.boardWrap').append(temp_html)
						} else {
							break;
						}
					} // 방명록이 최대 개수로 나누어 떨어지지 않을 때 추가 출력용
				})
			}
		})
	}
*/

</script>
</body>
</html>