<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>oneBillon</title>
	<link rel="stylesheet" href="../static/reset.css">
	<link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/sub.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/3e498796cb.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- 최지원 작성 시작 -->
    <div class="navbar">
        <nav class="gnb-menu">
            <p style="margin-bottom: 30px;">
                <span id="city"></span>
                <img id="icon" src="">
                <span></span>
                <span id="icon"></span>
                <span id="clouds"></span>
                <span id="temp"></span>℃
            </p>
            <button class="darkbtn" onclick="darkMode()">Dark Mode</button>
        </nav>
    </div>
    <div class="wrap">
        <section class="header">
            <h1 class="title">oneBillon</h1>
            <span class="team_name">react A반 1조(배민수,성태영,최지원,송지현,김도훈)</span>
        </section>
        <section class="intro">
            <div class="container">
                <h2 class="maintitle"><i class="fa-solid fa-gear"></i>팀소개</h2>
                <p class="txt">
                    저희는 A반 1조 onebillion 입니다. 1조라 발표가 빨라 부담되지만.. 그래도 잘 해낼것 입니다!!<br>
                    저희 조는 각자 역할을 맡아 프로젝트를 제작 하였고, 서로 모르면 물어보고 알려주며 이 프로젝트를 완성시켰습니다.
                    <br>비록 첫 프로젝트지만 멋드러지게 완성해서 다른 조의 부러움을 사고 싶습니다 ㅎㅎ
                </p>
                <div class="introWrap">
                    <div class="boxes">
                        <div class="box">
                            <span class="sub_title">우리팀 스타일</span>
                            <p>각자 정해진 역할을 수행하기 위해 밤 늦게까지 노력합니다!<br> 서로를 힘내자며 화이팅도 합니다!</p>
                        </div>
                        <div class="box">
                            <span class="sub_title">우리팀 약속</span>
                            <p>시간약속은 지키자!</p>
                            <p>안되도 도전은 해보자!</p>
                            <p>서로에게 친절하자</p>
                        </div>
                    </div>
                    <div class="icon">
                        <img src="http://bizfocus.kr/news/data/20200917/p1065589653063656_140_thum.jpg">
                    </div>
                </div>
            </div>
        </section>
{#			<div class="inputwrap">#}
{#				<div>#}
{#					<input id="teamName" type="text" placeholder="이름작성"/>#}
{#					<p><textarea id="teamIntro">자기소개 작성 60자이내</textarea></p>#}
{#					<p><input type="text" id="teamPhoto" placeholder="인터넷사진으로 부탁드려요"></p>#}
{#					<button onclick="save_teams()">등록!</button>#}
{#				</div>#}
{#			</div>#}
<section class="members">
  <div class="container ">
   <h2 class="maintitle">팀원 소개</h2>

   <div class="team" id="team">
   </div>
  </div>

 </section>
        <section class="modalLayer"></section>
        <div class="modalWrap modal1">
            <div class="modalCon">
                <div class="modalimg"><img
                        src="https://ca.slack-edge.com/T043597JK8V-U0464V4DQKY-0a92e92ba44b-512" alt="배민수">
                </div>
                <div class="desc">
                    <p><span>이름</span> 배민수</p>
                    <p><span>MBTI</span> ENFP</p>
                    <p><span>취미</span> 배드민턴🏸</p>
                    <p><span><i class="fa-brands fa-square-instagram"> ,</i><i class="fa-solid fa-v"></i></span><a
                            href="https://www.instagram.com/__bae_min__/" target="_blank">bae_min</a>&#128274; <a
                            href="https://velog.io/@qoalstn44" target="_blank">velog.io</a></p>
                    <p>
                        <span>프로젝트 맡은 역활</span>

                    <p class="block">지금 보이시는 웹페이지를 꾸미고 작성했습니다!</p>
                    </p>
                </div>
            </div>
            <div class="selfIntro">
                <h3>자기소개</h3>
                <p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
                <p>저는 뭐를 하고 뭐를 하고 뭐를 하는 것을 좋아해용~~</p>
                <p>d앞으로 잘부탁드렵용</p>
            </div>
            <div class="modalbottom">
                <a class="blogbtn" href="https://velog.io/@qoalstn44" target="_blank">개인블로그 가기</a>
                <span class="cancel" onclick="cancel()">닫기</span>
            </div>
        </div>

        <!--	성태영 수정한 부분입니다-->
        <div class="modalWrap modal2">
            <div class="modalCon">
                <div class="modalimg"><img
                        src="https://ca.slack-edge.com/T043597JK8V-U045ZFR4ZRQ-0ba42aa09caa-512" alt="성태영">
                </div>
                <div class="desc">
                    <p><span>이름</span> 성태영</p>
                    <p><span>MBTI</span> ISFP, ISFJ</p>
                    <p><span>취미</span> 추리드라마 보기, 강아지 산책</p>
                    <p>
                        <span>프로젝트 맡은 역할</span>
                    <p class="block">와이어프레임 마크업, 좋아요기능 제작, 팝업추가</p>
                    </p>
                </div>
            </div>
            <div class="selfIntro">
                <h3>자기소개</h3>
                <p>저는 누워서 추리드라마 시청을 좋아합니다. 강아지들과 산책하기를 즐겨해요</p>
                <p>여행을 좋아하는데 계획 없는 여행도 좋아합니다</p>
                <p>하지만 일을 계획해서 하기를 좋아해요</p>
                <p>저와 친해지시면 강아지사진 많이 보실수 있으세요~ </p>
            </div>
            <div class="modalbottom">
                <a class="blogbtn" href="https://velog.io/@young0_0" target="_blank">개인블로그 가기</a>
                <span class="cancel" onclick="cancel()">닫기</span>
            </div>
        </div>
        <!--	성태영 수정-->

        <div class="modalWrap modal3">
            <div class="modalCon">
                <div class="modalimg"><img
                        src="https://ca.slack-edge.com/T043597JK8V-U0445EEUZ44-c3a783a7afe2-512" alt="김도훈">
                </div>
                <div class="desc">
                    <p><span>이름</span> 김도훈</p>
                    <p><span>MBTI</span> ESTJ</p>
                    <p><span>취미</span> 사진찍기, 기타치기</p>
                    <p>
                        <span>프로젝트 맡은 역할</span>
                    <p class="block"> 아이콘 효과및 localstorage 저장 기능을 담당했습니다.</p>
                    </p>
                </div>
            </div>
            <div class="selfIntro">
                <h3>자기소개</h3>
                <p>조금 늦게 개발공부를 시작했지만 열정만큼은 뒤지지 않습니다. </p>
                <p>남한테 피해가 가지 않도록 열심히 하도록 하겠습니다.</p>

            </div>
            <div class="modalbottom">
                <a class="blogbtn" href="https://velog.io/@syncstar" target="_blank">개인블로그 가기</a>
                <span class="cancel" onclick="cancel()">닫기</span>
            </div>
        </div>
        <div class="modalWrap modal4">
            <div class="modalCon">
                <div class="modalimg"><img
                        src="https://ca.slack-edge.com/T043597JK8V-U044XUBEG01-58b10b88768d-512" alt="최지원">
                </div>
                <div class="desc">
                    <p><span>이름</span> 최지원</p>
                    <p><span>MBTI</span> ISTP</p>
                    <p><span>취미</span> 운동</p>
                    <p>
                        <span>프로젝트 맡은 역할</span>
                    <p class="block">nav 바 , dark 모드 적용</p>
                    </p>
                </div>
            </div>
            <div class="selfIntro">
                <h3>자기소개</h3>
                <p>안녕하세요 반갑습니다</p>
                <p>많이 부족하지만 최대한 열심히 해보겠습니다</p>
                <p>앞으로 잘 부탁드립니다!</p>
            </div>
            <div class="modalbottom">
                <a class="blogbtn" href="https://velog.io/@jiwonchoii
        " target="_blank">개인블로그 가기</a>
                <span class="cancel" onclick="cancel()">닫기</span>
            </div>
        </div>
        <div class="modalWrap modal5">
            <div class="modalCon">
                <div class="modalimg"><img
                        src="https://github.com/qoalstn44/MINIproject/blob/master/%EC%82%AC%EC%A7%84/songjihyun.jpg?raw=true"
                        alt="송지현">
                </div>
                <div class="desc">
                    <p><span>이름</span> 송지현</p>
                    <p><span>MBTI</span> ISTP</p>
                    <p><span>취미</span> 노래 듣기, 미드 시청</p>
                    <p>
                        <span>프로젝트 맡은 역할</span>
                    <p class="block">방명록 부분을 작성했습니다.</p>
                    </p>
                </div>
            </div>
            <div class="selfIntro">
                <h3>자기소개</h3>
                <p>안녕하세요. 잘 부탁드립니다. </p>
                <p>프로젝트에서 맡은 역할을 해낼 수 있도록 노력하겠습니다. </p>
                <p>최근에는 프렌즈, 빅뱅 이론, 내가 그녀를 만났을 때 같은 고전 미드를 보고 있습니다.</p>
            </div>
            <div class="modalbottom">
                <a class="blogbtn" href="#" target="_blank">개인블로그 가기</a>
                <span class="cancel" onclick="cancel()">닫기</span>
            </div>
        </div>

         <section class="comment">
            <div class="container">
              <h2 class="maintitle">우리 팀을 응원해주세요!</h2>
              <div class="inputBox">
                  <div>
                      <input type="text" name="" id="commentName" placeholder="이름">
                  </div>
                <input
                  type="text"
                  class="addComment"
                  placeholder="우리 팀을 응원해주세요"
                  id="addCommentIpt"
                /><button onclick="save_comment()" class="cmBtn btn">댓글 등록</button>
              </div>
              <ul class="boardWrap">
              </ul>
                <input type="button" class="moreComment btn" value="더보기">
            </div>
          </section>
    </div>
<!-- 최지원 작성 끝 -->
<script>
$(document).ready(function () {
    show_teams();
});

{#모달팝업 시작#}

function openModal(modalname) {
    document.get
    $('.modalLayer').fadeIn(300)
    $("." + modalname).fadeIn(300);
}

function cancel() {
    $('.modalLayer').fadeOut(300)
    $(".modalWrap").fadeOut(300);
}

function save_teams() {
    let teamName = $('#teamName').val()
    let teamIntro = $('#teamIntro').val()
    let teamPhoto = $('#teamPhoto').val()

    $.ajax({
        type: "POST",
        url: "/team",
        data: {teams_give: teamName, intro_give: teamIntro, photo_give: teamPhoto},
        success: function (response) {
            alert(response["msg"])
            window.location.reload()
        }
    });
}

function show_teams() {
    $.ajax({
        type: "GET",
        url: "/team",
        data: {},
        success: function (response) {
            let rows = response['teams']
            for (let i = 0; i < rows.length; i++) {
                let name = rows[i]['teams']
                let intro = rows[i]['intro']
                let like = rows[i]['like']
                let num = rows[i]['num']
                let photo = rows[i]['photo']

                let temp_html = ``
                if (num === 1 && like === 0) {
                    temp_html = `<div class="item">
         <div class="img" style="background-image: url('${photo}')">
          <div class="rank">팀장</div>
         </div>
         <div class="textWrap">
          <div class="name">
           <div>
            <span class="sub_title">이름</span>${name}
           </div>
           <div>
            <a class="like" onclick=likeStar(${num})><span class="heart heart_one"><i class="fas fa-heart"></i></span></a>
            <span>${like}</span>
           </div>
          </div>
          <p class="txt">${intro}</p>
         </div>
         <a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
        </div>`
                } else if (num === 1 && like > 1) {
                    temp_html = `<div class="item">
         <div class="img" style="background-image: url('${photo}')">
          <div class="rank">팀장</div>
         </div>
         <div class="textWrap">
          <div class="name">
           <p>
            <span class="sub_title">이름</span>${name}
           </p>
           <div>
            <a class="like" onclick=likeStar(${num})><span class="heart "><i class="fas fa-heart"></i></span></a>
            <span>${like}</span>
           </div>
          </div>
          <p class="txt">${intro}</p>
         </div>
         <a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
        </div>`
                } else if (like >= 1) {
                    temp_html = `<div class="item">
         <div class="img" style="background-image: url('${photo}')">
          <div class="rank rank2">팀원</div>
         </div>
         <div class="textWrap">
          <div class="name">
           <p>
            <span class="sub_title">이름</span>${name}
           </p>
           <div>
            <a class="like" onclick=likeStar(${num})><span class="heart "><i class="fas fa-heart"></i></span></a>
            <span>${like}</span>
           </div>
          </div>
          <p class="txt">${intro}</p>
         </div>
         <a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
        </div>`
                } else {
                    temp_html = `<div class="item">
         <div class="img" style="background-image: url('${photo}')">
          <div class="rank rank2">팀원</div>
         </div>
         <div class="textWrap">
          <div class="name">
           <p>
            <span class="sub_title">이름</span>${name}
           </p>

           <div>
            <a class="like" onclick=likeStar(${num})><span class="heart heart_one"><i class="fas fa-heart"></i></span></a>
            <span>${like}</span>
           </div>
          </div>
          <p class="txt">${intro}</p>
         </div>
         <a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
        </div>`
                }
                $('#team').append(temp_html)
            }
        }
    });
}
function likeStar(num) {
    $.ajax({
        type: 'POST',
        url: '/api/like',
        data: {num_give: num},
        success: function (response) {
            alert(response['msg']);
            window.location.reload()
        }
    });
}

    // 최지원 작성
    function darkMode() {
        let body = document.body;
        body.classList.toggle("dark-mode");
    }

// 성태영 작성
	function openModal(modalname) {
		document.get
		$('.modalLayer').fadeIn(300)
		$("." + modalname).fadeIn(300);
	}
	function cancel() {
		$('.modalLayer').fadeOut(300)
		$(".modalWrap").fadeOut(300);
	}
    function save_teams() {
        let teamName = $('#teamName').val()
        let teamIntro = $('#teamIntro').val()
        let teamPhoto = $('#teamPhoto').val()

        $.ajax({
            type: "POST",
            url: "/team",
            data: {teams_give: teamName, intro_give: teamIntro, photo_give: teamPhoto},
            success: function (response) {
                alert(response["msg"])
                window.location.reload()
            }
        });
    }

function show_teams() {
    $.ajax({
        type: "GET",
        url: "/team",
        data: {},
        success: function (response) {
            let rows = response['teams']
            for (let i = 0; i < rows.length; i++) {
                let name = rows[i]['teams']
                let intro = rows[i]['intro']
                let like = rows[i]['like']
                let num = rows[i]['num']
                let photo = rows[i]['photo']

                let temp_html = ``

//1. 순서1번인경우 팀장이 되고 좋아요 0일때 회색
                if (num === 1 && like === 0) {
                    temp_html = `<div class="item">
													<div class="img" style="background-image: url('${photo}')">
														<div class="rank">팀장</div>
													</div>
													<div class="textWrap">
														<div class="name">
															<div>
																<span class="sub_title">이름</span>${name}
															</div>
															<div>
																<a class="like" onclick=likeStar(${num})><span class="heart heart_one"><i class="fas fa-heart"></i></span></a>
																<span>${like}</span>
															</div>
														</div>
														<p class="txt">${intro}</p>
													</div>
													<a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
												</div>`
                }
//1. 순서1번인경우 팀장이 되고 좋아요 1일때 빨간색
                else if (num === 1 && like > 1) {
                    temp_html = `<div class="item">
													<div class="img" style="background-image: url('${photo}')">
														<div class="rank">팀장</div>
													</div>
													<div class="textWrap">
														<div class="name">
															<p>
																<span class="sub_title">이름</span>${name}
															</p>
															<div>
																<a class="like" onclick=likeStar(${num})><span class="heart "><i class="fas fa-heart"></i></span></a>
																<span>${like}</span>
															</div>
														</div>
														<p class="txt">${intro}</p>
													</div>
													<a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
												</div>`
                }
// 좋아요 한번이상 눌렀을때 빨간색
                else if (like >= 1) {
                    temp_html = `<div class="item">
													<div class="img" style="background-image: url('${photo}')">
														<div class="rank rank2">팀원</div>
													</div>
													<div class="textWrap">
														<div class="name">
															<p>
																<span class="sub_title">이름</span>${name}
															</p>
															<div>
																<a class="like" onclick=likeStar(${num})><span class="heart "><i class="fas fa-heart"></i></span></a>
																<span>${like}</span>
															</div>
														</div>
														<p class="txt">${intro}</p>
													</div>
													<a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
												</div>`
                }
// 좋아요 0 일때는 회색
                else {
                    temp_html = `<div class="item">
													<div class="img" style="background-image: url('${photo}')">
														<div class="rank rank2">팀원</div>
													</div>
													<div class="textWrap">
														<div class="name">
															<p>
																<span class="sub_title">이름</span>${name}
															</p>

															<div>
																<a class="like" onclick=likeStar(${num})><span class="heart heart_one"><i class="fas fa-heart"></i></span></a>
																<span>${like}</span>
															</div>
														</div>
														<p class="txt">${intro}</p>
													</div>
													<a class="btn" href="javascript:openModal('modal${num}')">더보기+</a>
												</div>`
                }
                $('#team').append(temp_html)
            }
        }
    });
}


function likeStar(num) {
    $.ajax({
        type: 'POST',
        url: '/api/like',
        data: {num_give: num},
        success: function (response) {
            alert(response['msg']);
            window.location.reload()
        }
    });
}
    function likeStar(num) {
        $.ajax({
            type: 'POST',
            url: '/api/like',
            data: {num_give: num},
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }

	function save_comment() {
		let comment = $('#addCommentIpt').val();
		let nickname = $('#commentName').val();
		let password = $('#commentPw').val();

		let date = new Date();
		let year = date.getFullYear();
		let month = String(date.getMonth() + 1).padStart(2, '0');
		let day = String(date.getDate()).padStart(2, '0');
		let hour = String(date.getHours()).padStart(2, '0');
		let minute = String(date.getMinutes()).padStart(2, '0');
		let second = String(date.getSeconds()).padStart(2, '0');

		let commentTime = `${year}/${month}/${day} ${hour}:${minute}:${second}`
		if(comment !== "" && nickname !== "" && password !== "") {
			$.ajax({
				type: "POST",
				url: "/onebillion",
				data: {
					comment_give:comment,
					nickname_give:nickname,
					password_give:password,
					time_give:commentTime
				},
				success: function(response) {
					alert(response['msg'])
					window.location.reload();
				}
			})
		} else {
			alert('빈 칸이 존재합니다!')
		}
	}
	function show_comment() {
		$.ajax({
			type: "GET",
			url: '/onebillion',
			data: {},
			success: function(res) {
				let rows = res['comments'].reverse(); // 입력 역순으로 보여주기
				let maxComment = 5; // 최대 5개씩 보여주기
				let cmtLoadBtn = document.querySelector('.moreComment');

				if(rows.length < maxComment + 1) {
					cmtLoadBtn.style.display ='none'
				} else {
					cmtLoadBtn.style.display ='block'
				} // 더보기 버튼 표시

				for(let i = 0; i < maxComment; i++) {
					if(rows[i] !== undefined) {
						let comment = rows[i]['comment'];
						let nickname = rows[i]['nickname'];
						let time = rows[i]['time']

						let temp_html = `<li class="board">
											<div class="boardInfo">
												<div class="boardComment">${comment}</div>
												<div class="commenterName">${nickname}</div>
												<span class="commentDate">${time}</span>
											</div>
										</li>`
							$('.boardWrap').append(temp_html)
					}
				} // 초기 데이터 5개 이하로 출력

				let cnt = 1; // 더보기 클릭 횟수
				cmtLoadBtn.addEventListener('click', ()=>{
					cnt++;
					if(rows.length / maxComment < cnt) {
						cmtLoadBtn.style.display = "none";
					} // 모든 방명록 다 띄웠을때
				for (let i = maxComment * (cnt - 1); i < rows.length; i++) {
						let comment = rows[i]['comment'];
						let nickname = rows[i]['nickname'];
						let time = rows[i]['time'];
						let temp_html = `<li class="board">
											<div class="boardInfo">
												<div class="boardComment">${comment}</div>
												<div class="commenterName">${nickname}</div>
												<span class="commentDate">${time}</span>
											</div>
										</li>`
							$('.boardWrap').append(temp_html)
						}
					// 방명록이 최대 개수로 나누어 떨어지지 않을 때 추가 출력용
				})
			}
		})
	}
// 날씨 ㅇㅇㅇ 작성
    $(document).ready(function () {
    show_comment(); // 이 부분만 송지현 작성

    $.ajax({
        type: "GET",
        url: "http://spartacodingclub.shop/sparta_api/weather/seoul",
        data: {},
        success: function (response) {
            $('#temp').text(response['temp'])
            document.getElementById('icon').src = response['icon']
            $('#city').text(response['city'])
            $('#clouds').text(response['clouds'])
        }
    })
});
	//<!-- 김도훈 좋아요 추가 2022 11 03 01:00 -->

	// 좋아요 버튼 1

	var btnvar1 = document.getElementById('btnh1')

	// 스토리지 값 불러오기, 하지만 setItem으로 like1에 값을 부여하지 않았으니, status1이라는 변수에는 null이라는 값이 할당됨
	const status1 = localStorage.getItem('like1')

	//  새로고침 및 초기 화면 표시임
	// 여기서 statsu1의 값이 'true'일 때 레드로 바꿔주고, 'true'가 아닐 때 전부 grey로 바꿔달라는 요청,
	// status1의 값이 null이니 당연히 처음에는 grey로 변하게 될 거임
	if (status1 === 'true') {
		btnvar1.style.color = "red"
	} else {
		btnvar1.style.color = "grey"
	}

	// 하트 버튼을 클릭 했을 때
	function Toggle1() {

		// 버튼을 클릭하면, 현재 status1의 값을 불러온다.
		const status1 = localStorage.getItem('like1')
		// 만약 status1의 값이 트루라면, like1의 값을 'false'로 바꿔주고 색상도 grey로 바꿔준다.
		if (status1 === 'true') {
			localStorage.setItem('like1', 'false')
			btnvar1.style.color = "grey"
			// status1의 값이 'true'가 아니라면, like1의 값을 'true'로 바꿔주고, 색상도 레드로 바꿔준다.
		} else {
			// 여기서 setItem을 통해서 like1의 값을 true로 임명함, 그래서 색상이 레드로 바뀌는거임
			localStorage.setItem('like1', 'true')
			btnvar1.style.color = "red"
		}
	}

// 서버에 정보 저장, 좋아요 만들 시 화면이 푸쉬 될때 마다 좋아요 정보를 불러와서 화면에 표시됨 / 좋아요 기능이 있는 웹사이트 가서 개발자 도구 확인
// 토글 이라는 펑션을 만들었으면, 새로고침 할 때마다 이 코드가 위에서 아래로 익혀짐,
// 반복문 - 서버에서 JSON 데이터로 객체 형태로 뱉어주면, 그 데이터에 따라서 하는거지 지금은 해야는게 아님 하나의 함수로 하고 매게변수를 다르게 받아서 처리를 다르게 하면 됨
//  펑션 토글원 () 안에 매게변수를만들고, 그 매게변수를 like1에 만들고 나중에 setitem 할 떄도 그 키로 해가지고 연동이 될 거다.
//  리팩토링 - 코드정리, 불 필요한 반복이 되었을 때 코드를 줄이고 할지








/* <!-- 김도훈 좋아요 추가 2022 11 02  --> */
	// 좋아요 버튼 2
	var btnvar2 = document.getElementById('btnh2')
	const status2 = localStorage.getItem('like2')

	if (status2 === 'true') {
		btnvar2.style.color = "red"
	} else {
		btnvar2.style.color = "grey"
	}
	function Toggle2() {

		const status2 = localStorage.getItem('like2')
		if (status2 === 'true') {
			localStorage.setItem('like2', 'false')
			btnvar2.style.color = "grey"
		} else {
			localStorage.setItem('like2', 'true')
			btnvar2.style.color = "red"
		}
	}


	//좋아요 버튼3
	var btnvar3 = document.getElementById('btnh3')
	const status3 = localStorage.getItem('like3')

	if (status3 === 'true') {
		btnvar3.style.color = "red"
	} else {
		btnvar3.style.color = "grey"
	}
	function Toggle3() {

		const status3 = localStorage.getItem('like3')
		if (status3 === 'true') {
			localStorage.setItem('like3', 'false')
			btnvar3.style.color = "grey"
		} else {
			localStorage.setItem('like3', 'true')
			btnvar3.style.color = "red"
		}
	}


	// 좋아요 버튼 4
	var btnvar4 = document.getElementById('btnh4')
	const status4 = localStorage.getItem('like4')

	if (status4 === 'true') {
		btnvar4.style.color = "red"
	} else {
		btnvar4.style.color = "grey"
	}
	function Toggle4() {

		const status4 = localStorage.getItem('like4')
		if (status4 === 'true') {
			localStorage.setItem('like4', 'false')
			btnvar4.style.color = "grey"
		} else {
			localStorage.setItem('like4', 'true')
			btnvar4.style.color = "red"
		}
	}
	// 좋아요 버튼 5
	var btnvar5 = document.getElementById('btnh5')
	const status5 = localStorage.getItem('like5')

	if (status5 === 'true') {
		btnvar5.style.color = "red"
	} else {
		btnvar5.style.color = "grey"
	}
	function Toggle5() {

		const status5 = localStorage.getItem('like5')
		if (status5 === 'true') {
			localStorage.setItem('like5', 'false')
			btnvar5.style.color = "grey"
		} else {
			localStorage.setItem('like5', 'true')
			btnvar5.style.color = "red"
		}
	}

function likeStar(num) {
    $.ajax({
        type: 'POST',
        url: '/api/like',
        data: {num_give: num},
        success: function (response) {
            alert(response['msg']);
            window.location.reload()
        }
    });
}
</script>
<!-- /* 김도훈 좋아요 추가 2022 11 02  */ -->

</script>
</body>
</html>